html{
    margin:0px;
   
    padding:0px;
    overflow-x:hidden;
}

header{
   padding-bottom:14px;
   padding-left:20px;
   line-height: 1rem;
   padding-top:4px;
   display:flex;
   background-color: cornsilk;
}
.navbar{
   align-items: justify;
   position: sticky;
   background-color: rgb(95, 95, 184);
   
}
section{
    margin-bottom:20px;
}
h3,h4{
    text-align:center;
    margin:4px;
}
.nav-link{
    color:white!important;
    justify-content: space-between;
}
.form-inline button{
    border: 2px solid white;
    color:white;
}
.bi{
    align-self:center;
}
.card{
    padding:10px;
    margin-left:10px;
    margin-right:10px;
    display:flex;
    box-sizing: border-box;
}
.card-img-top{
    object-fit: fill;
}
.card-title,.card-text{
    text-align:center;
}
.cb{
    align-content: center;
}
#services{
    background-color:#2C7871;
}
.card:hover{
    cursor:pointer;
    transform: translateZ(1.3);
}
footer{
    position: absolute;
    background-color: black;
    color:white;
    width:100%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.contact{
    align-items:center;
    background-color:gainsboro;
}
.form-control{
    max-width:50vh;
}

.courses{
    background-color: wheat;
}
.ccard{
    background-color: black;
}
.crtext{
    position: absolute;
    top:40%;
    left:20%;
    color:white;
}
.crimg{
    position:relative;
}
.vembed{
    width:100%;
    padding:4%;
    background-color:aliceblue;
}
.himg{
    height:40%;
    object-fit: cover;
}
.subheads{
    text-align: justify;
    justify-content: space-around;
    padding:3%;
    text-decoration: underline;
    text-decoration-color: rgb(95, 95, 184);
}
.content{
    padding-left:10%;
}
.listing{
    list-style-type:square;
    lighting-color: rgb(95, 95, 184);
}
.clickbt{
    background-color:rgb(95, 95, 184);color:white;align-self: center;
    border:none;
    padding:1%;
}
.btlong{
    margin-left:7%;
    width:60%;
    border-radius:80px;
}
.clickbt:hover{
    background-color: rgb(32, 32, 212);
}
.ticons{
    color:black;
}
.ticons:hover{
    color:navy;
    position: relative; 
    top: -5px;
}
.tab {
    overflow: hidden;
    border: 1px solid navy;
    background-color:navy;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: navy;
    float: left;
    color:white;
    border:white solid;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 10px;
    margin:2px;
  }
  .tab button:hover{
      background-color: white!important;
      color:navy;
      border-radius: 10px;
      border:white solid;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: navy;
  }
  .tabbed{
      background-color: navy;
      color:white;
      padding:12px;
      margin:12px;
  }
 .service{
     margin:2%;
 }
 .sercard{
     border:none!important;
     
 }
 .serbody{
     background-color:#E6E6FA;
     font-size:18px;
     box-shadow: 2px 2px 4px #000000;
 }
 .card-header{
     background-color: rgb(95, 95, 184)!important;
     color:white;
     box-shadow: 2px 2px 4px #000000;
 }
 .crrow{
     display:flex;
 }
 #more {display: none;}
 .course{
     margin-top:2%;
     margin-bottom:2%;
     font-size:18px;
 }
 .courseimg{
     padding:2%;
     object-fit: cover;
 }
 #evcyber{
    background:black;
    
    background-size:cover;
 }
 .flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    border-top:rgb(228, 106, 228) 4px solid ;
    border-left:rgb(228, 106, 228) 4px solid ;
    padding:1%;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color:rgb(228, 106, 228);
    color: white;
    transform: rotateY(180deg);
  }
  .wkcards{
      border: purple 4px solid!important;
      box-shadow: 10px 15px 5px white;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }